html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-left: .1rem;
  margin-right: .1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1em;
  padding-bottom: .1em;
