html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-left: .1rem;
  margin-right: .1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1em;
  padding-bottom: .1em;
}

li {
  list-style: none;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 1rem;
}

ol > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
