html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-left: .1rem;
  margin-right: .1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .1em;
  padding-bottom: .1em;
}

li {
  list-style: none;
  border: 3px solid #987ffa;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 1rem;
}

ol > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

p {
  font-family: Karma, serif;
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.5rem;
}

h2, p {
  margin: .1rem;
  padding-top: .4rem;
}

.item {
  width: 110%;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4.05rem;
  padding-bottom: .8rem;
}

.add-to-cart-button {
  font-family: Oswald, sans-serif;
  display: inline-block;
  background-color: #6f00e7;
  color: white;
  border-radius: 3em;
  text-decoration: none;
  padding-top: .5em;
  padding-bottom: .6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 1rem;
  justify-content: flex-start;
}

.nav-element {
  display: flex;
  line-height: 1.3rem;
  padding-top: .7rem;
  justify-content: space-between;
}
