html {
  box-sizing: border-box;
  font-family: Karma, serif;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  margin-left: .1rem;
  margin-right: .1rem;
}
